header {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.highscores {
    float: left;
}
.timer {
    top: 0;
    right: 0;
}
    label {
        display: block;
        background: lightblue;
        width: 300px;
        margin: 10px;
        padding: 5px;
}
.flex-container {
    margin: 20px;
    padding: 10px;
}
#player-initials {
    align-content: center;
    padding: auto;
}
.step{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
  }
  .current-question{
    opacity: 1;
    z-index: 2;
  }